.rate-container {
  background: hsl(213, 19%, 18%);
  height: max-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 30px;
  padding: 20px 14px;
  border-radius: 15px;
}

.rate-container > .icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 16px;
  background: hsl(213, 21%, 28%);
}

.rate-container > h1 {
  color: white;
}

.rate-container > p {
  color: hsl(217, 12%, 63%);
}

.rate-container > button {
  height: 40px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  letter-spacing: 3px;
  background: hsl(25, 97%, 53%);
  padding: 10px;
}

.rate-container > button:focus {
  background: white;
}
